body {
  font-family: sans-serif;
}
ul {
  width: 90%;
  margin: 0 auto;
}
ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
ul li p {
  margin-right: 20px;
}
.title {
  text-align: center;
}
.inputArea {
  margin-top: 5%;
  text-align: center;
}
button {
  cursor: pointer;
}

ul li button {
  height: auto;
  margin-right: 8px;
}
ul li button:nth-last-child(1) {
  margin-right: unset;
}
